Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-groups-test, post-k8sio-groups, post-k8sio-dns-update, post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

pull-k8sio-groups-test:
  decorate: true
  spec:
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && go test
      env:
      - name: GO111MODULE
        value: 'on'

post-k8sio-groups:
  decorate: true
  spec:
    serviceAccountName: gsuite-groups-manager
    containers:
    - image: golang:1.13
      command:
      - bash
      args:
      - -c
      - cd groups && make run -- --confirm

post-k8sio-dns-update:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-dns-updater
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/infra-tools/octodns:v20200616-67ce585
      command:
      - bash
      args:
      - -c
      - cd dns && make push-local

post-k8sio-deploy-prow-build-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

post-k8sio-deploy-prow-build-trusted-resources:
  decorate: true
  spec:
    serviceAccountName: prow-deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-in-go:v20200824-5d057db
      command:
      - bash
      args:
      - -c
  ...

audit: update as of 2021-05-05
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-gcslogs/iam.json
  audit/projects/k8s-artifacts-prod/iam.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/description.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-artifacts-prod/services/enabled.txt
  audit/projects/k8s-infra-prow-build-trusted/iam.json
  audit/projects/k8s-infra-prow-build-trusted/roles/ServiceAccountLister.json
  audit/projects/k8s-infra-prow-build/iam.json
  audit/projects/k8s-infra-prow-build/roles/ServiceAccountLister.json
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/cors.txt
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/iam.json
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/logging.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/cors.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/iam.json
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/logging.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/bucketpolicyonly.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/cors.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/iam.json
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/logging.txt
  audit/projects/k8s-staging-test-infra/description.json
  audit/projects/k8s-staging-test-infra/iam.json
  audit/projects/k8s-staging-test-infra/services/enabled.txt
  audit/projects/kubernetes-public/buckets/k8s-infra-clusters-terraform/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-aws/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-prow-clusters/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-public-clusters/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-sandbox-ii/iam.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-dns-updater@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-gcp-auditor@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-gcp-auditor@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-monitoring-viewer@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/kubernetes-external-secrets@kubernetes-public.iam.gserviceaccount.com/description.json
Due: none

Upgrade terraform provider
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Due: none

infra/gcp/main: give tf bucket owners buckets.list
  infra/gcp/ensure-main-project.sh
Due: none

Hardcoded versions of terraform fields
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/11-pool1-configuration.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/11-pool2-configuration.tf
Due: none

Bump resizer and snapshotter sidecar images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: none

infra/gcp/roles: refresh roles
  infra/gcp/roles/audit.viewer.yaml
Due: none

groups: remove serviceaccounts from groups
  groups/groups.yaml
  groups/wg-k8s-infra/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

infra/gcp/roles: fix regex handling
  infra/gcp/roles/generate-role-yaml.sh
Due: none

infra/gcp/roles: update audit.viewer
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
Due: none

infra/gcp/roles: update organization.admin
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/specs/organization.admin.yaml
Due: none

infra/gcp/org: give org admins orgpolicy.policyAdmin role
  infra/gcp/ensure-organization.sh
Due: none

audit: update as of 2021-05-06
  audit/org_kubernetes.io/iam.json
  audit/org_kubernetes.io/roles/audit.viewer.json
  audit/org_kubernetes.io/roles/organization.admin.json
  audit/projects/kubernetes-public/buckets/k8s-infra-clusters-terraform/iam.json
  audit/projects/kubernetes-public/iam.json
Due: none

Improve terraform version constraint
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Due: none

Bump version of the terraform provider
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Due: none

Revert hardcoded field
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Due: none

Add WG Structured logging leads
  groups/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

releng: Promote go1.16.4/1.15.11 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: none

infra/gcp/clusters: rm defunct _example
  infra/gcp/clusters/_example/README.md
  infra/gcp/clusters/_example/test-eu/00-inputs.tf
  infra/gcp/clusters/_example/test-eu/10-cluster-configuration.tf
  infra/gcp/clusters/_example/test-eu/11-pool1-configuration.tf
  infra/gcp/clusters/_example/test-us/00-inputs.tf
  infra/gcp/clusters/_example/test-us/10-cluster-configuration.tf
  infra/gcp/clusters/_example/test-us/11-pool1-configuration.tf
Due: none

Bump Google terraform providers
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/versions.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Due: post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

infra/gcp/clusters: bump google provider version
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Due: post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

infra/clusters: add OWNERS
  infra/gcp/clusters/OWNERS
Due: none

infra/clusters: use teraform 0.14
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/versions.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Due: post-k8sio-deploy-prow-build-resources, post-k8sio-deploy-prow-build-trusted-resources

infra/clusters: fix label typo
  infra/gcp/clusters/OWNERS
Due: none

promote csi images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: none

infra/gcp/lib: split out lib_services.sh
  infra/gcp/lib.sh
  infra/gcp/lib_services.sh
Due: none

infra/gcp/services: fix shellcheck nits
  infra/gcp/lib_services.sh
Due: none

infra/gcp: rename ensure_api to ensure_services
  infra/gcp/ensure-env-cip-auditor.sh
  infra/gcp/ensure-prod-storage-gclb.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib_services.sh
Due: none

infra/gcp: drop containerscanning service from projects
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
Due: none

infra/gcp/services: write the jq file once
  infra/gcp/lib_services.sh
Due: none

Promote kOps 1.21.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: none

Promote kOps 1.22.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: none

Promote Cluster Autoscaler 1.21
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: none

Add towca@ to k8s-staging-autoscaling OWNERS
  k8s.gcr.io/images/k8s-staging-autoscaling/OWNERS
Due: none

Add Guinevere as 1.22 EA
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Add 1.22 Release Shadows and remove 1.21
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Adding a few more ASNs
  registry.k8s.io/infra/meta/asns/alibabagroup.yaml
  registry.k8s.io/infra/meta/asns/baidu.yaml
  registry.k8s.io/infra/meta/asns/digitalocean.yaml
  registry.k8s.io/infra/meta/asns/equinixmetal.yaml
  registry.k8s.io/infra/meta/asns/huawei.yaml
  registry.k8s.io/infra/meta/asns/tencentcloud.yaml
Due: none

groups/releng: Add Wilson, Joyce, and Nabarun as RMAs
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

releng: Image promotion for v1.18.19 / v1.19.11 / v1.21.1 / v1.20.7
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: none

groups/sig-release: Prune inactive members
  groups/sig-release/groups.yaml
Due: pull-k8sio-groups-test, post-k8sio-groups

Path conditions:
  pull-k8sio-groups-test: any of: ^groups/
  post-k8sio-groups: any of: ^groups/
  post-k8sio-dns-update: any of: ^dns/zone-configs/
  post-k8sio-deploy-prow-build-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build/
  post-k8sio-deploy-prow-build-trusted-resources: any of: ^infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/
