Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-kube-cross, post-release-push-image-setcap

Path conditions:
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/

Scan go.mod when checking directories
  cmd/bom/cmd/generate.go
  pkg/spdx/builder.go
  pkg/spdx/file.go
  pkg/spdx/implementation.go
  pkg/spdx/package.go
  pkg/spdx/spdx.go
  pkg/spdx/spdxfakes/fake_spdx_implementation.go
Due: none

Handle go module downloads by commit sha
  pkg/spdx/gomod.go
Due: none

Correctly implement LicenseInfoFromFiles in spdx packages
  pkg/spdx/package.go
Due: none

Allow bom generate command to read directories from arguments
  cmd/bom/cmd/generate.go
  pkg/spdx/implementation.go
Due: none

debian-base: Build buster-v1.7.0 image
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-debian-base

comment fix
  dependencies.yaml
Due: none

debian-base: Update dependents to use buster-v1.7.0
  dependencies.yaml
Due: none

debian-iptables: Build buster-v1.6.1 image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

setcap: Build buster-v2.0.1 image
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-setcap

README.md: Add installation hint
  README.md
Due: none

Add missing i386 crossbuild toolchain to kube-cross
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

releng-ci: Enable building multiple image variants
  dependencies.yaml
  images/releng/ci/ci-failures
  images/releng/ci/cloudbuild.yaml
  images/releng/ci/variants.yaml
Due: none

setcap image: symlink rm to /usr/sbin/rm
  images/build/setcap/Dockerfile
Due: post-release-push-image-setcap

Parallelize go module downloads
  pkg/spdx/gomod.go
  pkg/spdx/implementation.go
Due: none

Shift license output to debug and fix div/0 bug
  pkg/license/download.go
  pkg/license/implementation.go
Due: none

Regenerate SPDX fakes
  pkg/spdx/spdxfakes/fake_spdx_implementation.go
Due: none

Include full list of transient dependencies in SBOM
  cmd/bom/cmd/generate.go
  pkg/spdx/builder.go
  pkg/spdx/gomod.go
  pkg/spdx/implementation.go
  pkg/spdx/spdx.go
Due: none

Move spdx keywords NONE and NOASSERTION to constants
  pkg/spdx/package.go
  pkg/spdx/spdx.go
Due: none

Bump k8s-cloud-builder version to v1.16.4-2
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
  images/k8s-cloud-builder/variants.yaml
Due: post-release-push-image-kube-cross

pkg/cip: Revert os/io go1.16 changes
  pkg/cip/audit/auditor.go
  pkg/cip/dockerregistry/grow_manifest.go
  pkg/cip/dockerregistry/inventory.go
  pkg/cip/remotemanifest/git.go
Due: none

Revert "pkg/cip: Use --no-dry-run instead of --dry-run"
  pkg/cip/cli/root.go
  pkg/cip/cli/run.go
  pkg/cip/dockerregistry/inventory.go
  pkg/cip/dockerregistry/types.go
Due: none

debian-base: symlink rm to /usr/sbin/rm
  images/build/debian-base/buster/Dockerfile.build
Due: post-release-push-image-debian-base

Bump debian-base to buster-v1.7.1
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-debian-base

go.mod: Run `go mod tidy`
  go.mod
  go.sum
Due: none

images/debian-iptables: Source wrapper from k-sigs/iptables-wrappers
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/buster/iptables-wrapper
Due: post-release-push-image-debian-iptables

images/debian-iptables: Stop pinning the iptables version
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

images: Build debian-iptables:buster-v1.7.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

[DROP] debian-iptables: Add some debug statements for iptables-nft
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-debian-iptables

debian-iptables: Explicitly install nftables
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-debian-iptables

Update `go-git` to v5.4.2 to fix cloning bug
  go.mod
  go.sum
Due: none

match kubernetes-sigs/iptables-wrappers logic
  images/build/debian-iptables/buster/iptables-wrapper
Due: post-release-push-image-debian-iptables

debian-iptables v1.6.2
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

Prewarm license cache during release.PrepareWorkspaceStage()
  pkg/license/license_unit_test.go
  pkg/release/workspace.go
Due: none

GenerateBillOfMaterials integration test
  pkg/anago/stage_test.go
Due: none

Reduce SPDX file verbosity
  pkg/spdx/file.go
Due: none

Plug stage.GenerateBillOfMaterials() into release process
  pkg/anago/anago.go
  pkg/anago/stage.go
Due: none

Regenerate stage mocks
  pkg/anago/anagofakes/fake_stage_client.go
  pkg/anago/anagofakes/fake_stage_impl.go
Due: none

Add temporary function ListArtifacts()
  pkg/anago/stage.go
Due: none

Generate and stage K8s artifact SBOM
  pkg/anago/stage.go
  pkg/build/push.go
Due: none
