Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-kube-cross, post-release-push-image-setcap

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

post-release-push-image-setcap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

Generate and stage K8s source SBOM
  pkg/anago/stage.go
  pkg/build/push.go
Due: none

Mark SPDX manifest as not required during push to stage
  pkg/build/push.go
Due: none

[go] go1.16.5 and go1.15.13 updates
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

go-runner: Build v2.3.1-go1.16.5-buster.0 and v2.3.1-go1.15.13-buster.0
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-go-runner

releng-ci: build image for go1.16.5 and go1.15.13
  images/releng/ci/variants.yaml
Due: none

kube-cross: Build v1.16.5-1 and v1.15.13-1 images
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

dependencies: move k8s-ci-builder/Makefile check to be checked after the k/k merge
  dependencies.yaml
Due: none

kubepkg/packages-deb: update base image to go1.16.5
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  packages/deb/Dockerfile
Due: none

Add bom to the compile-release-tools scripts
  compile-release-tools
Due: none

HOWTO Guide about creating a BOM
  docs/bom/create-a-bill-of-materials.md
  docs/bom/etcd-v3.4.16.spdx
Due: none

bom utility README file
  cmd/bom/README.md
Due: none

bom command documentation
  README.md
  cmd/bom/README.md
  docs/bom/418528.svg
  docs/bom/README.md
  docs/bom/cast.svg
  docs/bom/generate.md
Due: none

Optimize debian-base and debian-iptables images generation
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/buster/Dockerfile.build
  images/build/debian-base/variants.yaml
Due: post-release-push-image-debian-base

[go1.16] Update dependents to go1.16.5
  dependencies.yaml
Due: none

k8s-cloud-builder: Build v1.16.5-1 image
  images/k8s-cloud-builder/variants.yaml
Due: none

k8s-ci-builder: Build image variants using go1.16.5
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: none

Change debian base image to buster v1.7.2
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-debian-iptables, post-release-push-image-setcap

Optimize debian-iptables image generation
  images/build/debian-iptables/buster/Dockerfile
Due: post-release-push-image-debian-iptables

Fix setcap image to use new debian-base v1.7.2
  dependencies.yaml
  images/build/setcap/Dockerfile
Due: post-release-push-image-setcap

owners: add puerco/cpanato to the sig-release-leads
  OWNERS_ALIASES
Due: none

security: add puerco/cpanato and remove alejandrox1 from security contacts
  SECURITY_CONTACTS
Due: none

Always ask user before creating the PR.
  cmd/krel/cmd/release_notes.go
Due: none

Add support for configuring BOM in a YAML file
  cmd/bom/cmd/generate.go
  pkg/spdx/builder.go
Due: none

Add more fields to document build options
  pkg/spdx/builder.go
Due: none

Unit test file for doc builder
  pkg/spdx/builder_unit_test.go
Due: none

Parallelize file processing
  pkg/spdx/package.go
  pkg/spdx/spdx.go
Due: none

Fix error in go modules flag
  cmd/bom/cmd/generate.go
Due: none

Make directory paths relative
  pkg/spdx/spdx.go
Due: none

Switch to license.ReadTopLicense()
  pkg/license/implementation.go
  pkg/license/license.go
  pkg/spdx/gomod.go
  pkg/spdx/implementation.go
  pkg/spdx/spdx.go
Due: none

Regenerate license fakes
  pkg/license/licensefakes/fake_reader_implementation.go
Due: none

Avoid erasing modules from GOPATH
  pkg/spdx/gomod.go
Due: none

Return full license text after scanning
  pkg/license/implementation.go
  pkg/license/license.go
  pkg/spdx/gomod.go
Due: none

Correct cache/data directories handling
  pkg/license/catalog.go
  pkg/license/download.go
  pkg/license/implementation.go
  pkg/spdx/implementation.go
  pkg/spdx/spdx.go
Due: none

Use cached package replacements
  pkg/spdx/gomod.go
Due: none

update dependency list
  dependencies.yaml
Due: none

k8s-ci-builder: build image variants with go1.15.13
  images/releng/k8s-ci-builder/variants.yaml
Due: none

k8s-cloud-builder: Build v1.15.13-legacy-1/v1.15.13-1 image
  images/k8s-cloud-builder/variants.yaml
Due: none

kube-cross: Build v1.21-go1.16.5-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

kube-cross: Build v1.22-go1.16.5-1 image
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

kube-cross: Build v1.22-dev-1 image using etcd v3.5.0
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

Path conditions:
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
