Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-kube-cross, post-release-push-image-setcap

post-release-push-image-debian-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-debian-hyperkube-base:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

post-release-push-image-debian-iptables:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

post-release-push-image-go-runner:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --build-dir=.
  ...

post-release-push-image-kube-cross:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

post-release-push-image-setcap:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210302-aa40187
      command:
      - /run.sh
      args:
      - --project=k8s-staging-build-image
      - --scratch-bucket=gs://k8s-staging-build-image-gcb
      - --env-passthrough=REGISTRY
  ...

kube-cross: Add separate Dockerfile for canary variant
  images/build/cross/canary/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

kube-cross: Build v1.16.5-canary-2 image without etcd
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

gcb: Update GITHUB_TOKEN to use new authentication token format
  gcb/release/cloudbuild.yaml
  gcb/stage/cloudbuild.yaml
Due: none

Reseed the staged clone of k/k
  pkg/release/workspace.go
Due: none

Dont set the github token during stage
  pkg/release/workspace.go
Due: none

Destroy git remote config before archiving release
  pkg/release/archive.go
Due: none

Merge any commits in the remote branch before push
  pkg/release/push_git_objects.go
Due: none

Use native `errors` methods instead of `fmt.Sprintf`
  cmd/krel/cmd/cve.go
  cmd/krel/cmd/release_notes.go
  pkg/build/ci.go
  pkg/license/implementation.go
  pkg/release/push_git_objects.go
Due: none

Compress release archive sources
  pkg/release/archive.go
Due: none

Add TODO to revert this once 1.20 is EOL
  pkg/build/make.go
Due: none

Revert Use default KUBE_PARALLEL_BUILD_MEMORY
  pkg/build/make.go
Due: none

Addition of automate-docs command to krel tool
  cmd/krel/cmd/docs.go
  cmd/krel/cmd/docs_after_code_freeze.go
  cmd/krel/cmd/docs_after_enhancement_freeze.go
  cmd/krel/cmd/docs_before_final.go
  cmd/krel/cmd/docs_placeholder.go
  cmd/krel/cmd/templates/template.go
  cmd/krel/token.json
  go.mod
  pkg/docs/github.go
  pkg/docs/sheets.go
  pkg/docs/utils.go
  pkg/docs/utils_test.go
Due: none

debian-iptables: Stop pinning the iptables version
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/buster/Dockerfile
  images/build/debian-iptables/cloudbuild.yaml
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

debian-iptables: Build buster-v1.6.4 image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

debian-base: Build buster-v1.8.0 image
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/variants.yaml
Due: post-release-push-image-debian-base

Merge remote branch only if required
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/release/push_git_objects.go
Due: none

Make git debug output less verbose
  pkg/git/git.go
Due: none

gcb/stage: Remove extraneous GITHUB_TOKEN from config
  gcb/stage/cloudbuild.yaml
Due: none

Do not chech GitHub token during stage
  pkg/anago/stage.go
  pkg/release/prerequisites.go
Due: none

Revert not checking GH token in stage
  pkg/anago/stage.go
Due: none

gcb/stage: Add read-only GITHUB_TOKEN to enable relnotes generation
  gcb/stage/cloudbuild.yaml
Due: none

dependencies.yaml: Update dependents to use debian-base:buster-v1.8.0
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-debian-iptables, post-release-push-image-setcap

debian-iptables: Build buster-v1.6.5 image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

setcap: Build buster-v2.0.3 image
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-setcap

Fix archive tarball compression bug
  pkg/release/archive.go
Due: none

Automatically filter git commands
  go.mod
  go.sum
  pkg/git/git.go
Due: none

spdx.buildIDString function
  pkg/spdx/document.go
  pkg/spdx/file.go
  pkg/spdx/package.go
  pkg/spdx/spdx.go
  pkg/spdx/spdx_unit_test.go
Due: none

Fix spdx date bug
  pkg/spdx/document.go
Due: none

Download all platforms when generating spdx packages from images
  pkg/spdx/builder.go
  pkg/spdx/implementation.go
  pkg/spdx/package.go
  pkg/spdx/spdx.go
  pkg/spdx/spdx_test.go
  pkg/spdx/spdx_unit_test.go
  pkg/spdx/spdxfakes/fake_spdx_implementation.go
Due: none

Object interface
  pkg/spdx/spdx.go
Due: none

SPDX Relationships
  pkg/spdx/document.go
  pkg/spdx/file.go
  pkg/spdx/gomod.go
  pkg/spdx/implementation.go
  pkg/spdx/object.go
  pkg/spdx/package.go
  pkg/spdx/relationship.go
  pkg/spdx/spdx.go
  pkg/spdx/spdx_test.go
  pkg/spdx/spdx_unit_test.go
Due: none

Fix bug downloading packages
  pkg/spdx/gomod.go
Due: none

Fix template bug
  pkg/license/download.go
  pkg/spdx/file.go
  pkg/spdx/package.go
Due: none

Create push.go
  pkg/build/push.go
Due: none

packages/deb: Use ci/latest.txt as canonical cross build marker
  packages/deb/build.go
Due: none

Add ExternalDocRef to SPDX package
  pkg/spdx/builder.go
  pkg/spdx/document.go
  pkg/spdx/spdx_unit_test.go
Due: none

Define Apache-2.0 as license
  pkg/anago/stage.go
Due: none

Artifacts listing funcs in workspace
  pkg/release/workspace.go
Due: none

Add binaries and tarballs to SBOM
  pkg/anago/anago.go
  pkg/anago/stage.go
  pkg/anago/stage_test.go
Due: none

Ensure SPDX relationship rednering
  pkg/spdx/relationship.go
  pkg/spdx/spdx_unit_test.go
Due: none

Path conditions:
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/
