Repository kubernetes/release: changes, and which Prow jobs are due for each by the changed paths.
All: post-release-push-image-debian-base, post-release-push-image-debian-hyperkube-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner, post-release-push-image-kube-cross, post-release-push-image-setcap

Path conditions:
  post-release-push-image-debian-base: any of: ^images\/build\/debian-base\/
  post-release-push-image-debian-hyperkube-base: any of: ^images\/build\/debian-hyperkube-base\/
  post-release-push-image-debian-iptables: any of: ^images\/build\/debian-iptables\/
  post-release-push-image-go-runner: any of: ^images\/build\/go-runner\/
  post-release-push-image-kube-cross: any of: ^images\/build\/cross\/
  post-release-push-image-setcap: any of: ^images\/build\/setcap\/

debian-iptables: Build buster-v1.6.6 image
  dependencies.yaml
  images/build/debian-iptables/Makefile
  images/build/debian-iptables/variants.yaml
Due: post-release-push-image-debian-iptables

setcap: Build buster-v2.0.4 image
  dependencies.yaml
  images/build/setcap/Makefile
  images/build/setcap/variants.yaml
Due: post-release-push-image-setcap

Don't generate dependency report for release notes draft
  cmd/krel/cmd/release_notes.go
Due: none

Generate TOC after dependencies
  pkg/changelog/changelog.go
Due: none

[go] go1.16.7 and go1.15.15 updates
  cmd/vulndash/Makefile
  cmd/vulndash/variants.yaml
  dependencies.yaml
Due: none

go-runner: Build v2.3.1-go1.16.7-buster.0 and v2.3.1-go1.15.15-buster.0
  dependencies.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/variants.yaml
Due: post-release-push-image-go-runner

releng-ci: build image for go1.16.7 and go1.15.15
  images/releng/ci/variants.yaml
Due: none

kube-cross: Build v1.16.7-1 and v1.15.15-1 images
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

kubepkg/packages-deb: update base image to go1.16.7
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  packages/deb/Dockerfile
Due: none

k8s-cloud-builder/k8s-ci-builder: Build image using go1.16.7
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/Dockerfile
  images/releng/k8s-ci-builder/Makefile
  images/releng/k8s-ci-builder/variants.yaml
Due: none

k8s-cloud-builder/k8s-ci-builder: Build image using go1.15.15
  dependencies.yaml
  images/k8s-cloud-builder/variants.yaml
  images/releng/k8s-ci-builder/variants.yaml
Due: none

gh/issues: update dep-go issue template to add staging/publishing bot rules step
  .github/ISSUE_TEMPLATE/dep-golang.md
Due: none

images/releng/ko-builder: Initial commit
  images/releng/ko-builder/Dockerfile
Due: none

Fix the first uppercase letter of markdown to support Unicode
  pkg/notes/notes.go
  pkg/notes/notes_test.go
  pkg/notes/notes_v2.go
Due: none

Bump go-github to v37
  go.mod
  go.sum
  pkg/github/github.go
  pkg/github/github_test.go
  pkg/github/githubfakes/fake_client.go
  pkg/github/internal/retry.go
  pkg/github/internal/retry_test.go
  pkg/github/record.go
  pkg/github/replay.go
  pkg/kubepkg/kubepkg.go
  pkg/kubepkg/kubepkgfakes/fake_impl.go
  pkg/notes/notes.go
  pkg/notes/notes_gatherer_test.go
Due: none

SPDX: Correctly form layer ref for single img ref
  pkg/spdx/implementation.go
Due: none

Update schedule-builder docs
  cmd/schedule-builder/README.md
Due: none

debian-base: Add dependency entries for previous release branches
  dependencies.yaml
Due: none

debian-base: Build bullseye-v1.0.0 images
  dependencies.yaml
  images/build/debian-base/Makefile
  images/build/debian-base/bullseye/Dockerfile
  images/build/debian-base/bullseye/Dockerfile.build
  images/build/debian-base/bullseye/clean-install
  images/build/debian-base/bullseye/excludes
  images/build/debian-base/variants.yaml
Due: post-release-push-image-debian-base

fix: panic when LICENSE file is not found
  pkg/spdx/implementation.go
  pkg/spdx/spdx.go
Due: none

OWNERS: Dan Mangum is now Emeritus
  OWNERS_ALIASES
  SECURITY_CONTACTS
Due: none

OWNERS(images): Simplify approvals to Release Engineering subproject
  OWNERS_ALIASES
  images/OWNERS
  images/artifact-promoter/Makefile.artifact-promoter
  images/artifact-promoter/OWNERS
  images/build/OWNERS
  images/build/debian-base/OWNERS
  images/build/debian-iptables/OWNERS
  images/build/go-runner/OWNERS
Due: post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner

OWNERS: Update `release-engineering-reviewers` membership
  OWNERS_ALIASES
Due: none

OWNERS: Update promotion tooling reviewers/approvers and areas
  OWNERS_ALIASES
  cmd/vulndash/OWNERS
  pkg/vulndash/OWNERS
Due: none

feat: adds release cycle support to schedule-builder
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/model.go
  cmd/schedule-builder/cmd/root.go
Due: none

Stop uploading .deb packages to scratch bucket
  packages/deb/jenkins.sh
Due: none

Stop updating /debian/latest marker in scratch bucket
  packages/deb/jenkins.sh
Due: none

debian-builder: use golang:1.16.7-buster as the base image
  packages/deb/Dockerfile
Due: none

adds tests for markdown.go and root.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root_test.go
  cmd/schedule-builder/cmd/testdata/rel-schedule.yaml
Due: none

updates README and adds comments
  cmd/schedule-builder/README.md
  cmd/schedule-builder/cmd/markdown.go
Due: none

fixing linting errors
  cmd/schedule-builder/cmd/markdown.go
  cmd/schedule-builder/cmd/markdown_test.go
  cmd/schedule-builder/cmd/root.go
  cmd/schedule-builder/cmd/root_test.go
Due: none

un-emeritus BenTheElder per https://github.com/kubernetes/release/pull/2214
  images/build/OWNERS
  images/build/debian-base/OWNERS
  images/build/debian-iptables/OWNERS
  images/build/go-runner/OWNERS
Due: post-release-push-image-debian-base, post-release-push-image-debian-iptables, post-release-push-image-go-runner

kube-cross: Drop non-legacy go1.15 variant
  dependencies.yaml
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

kube-cross: Remove etcd from non-legacy builds
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/default/Dockerfile
  images/build/cross/variants.yaml
Due: post-release-push-image-kube-cross

dependencies.yaml: Track Debian codenames
  dependencies.yaml
Due: none

test
  text
Due: none

Clean up extra spaces
  cmd/bom/cmd/root.go
  cmd/kpromo/cmd/root.go
Due: none

images: Enforce Debian codenames for Golang-based images
  Dockerfile-kubepkg
  Dockerfile-kubepkg-rpm
  cloudbuild-kubepkg.yaml
  cmd/vulndash/Dockerfile
  dependencies.yaml
  images/build/cross/Makefile
  images/build/go-runner/Dockerfile
  images/releng/ci/Dockerfile
  images/releng/k8s-ci-builder/Dockerfile
Due: post-release-push-image-go-runner, post-release-push-image-kube-cross

kube-cross: Using Debian codenames
  dependencies.yaml
  images/build/cross/Makefile
  images/build/cross/cloudbuild.yaml
  images/build/cross/variants.yaml
  images/build/go-runner/Makefile
  images/build/go-runner/cloudbuild.yaml
  images/build/go-runner/variants.yaml
Due: post-release-push-image-go-runner, post-release-push-image-kube-cross
